.welcomeScreen{
    display: flex;
    width: 100%;  
    height: calc(100vh - 6.5rem);    
    
}

.pComponentes__home, .pc__home{    
    flex: 0.5;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-family: 'Major Mono Display', monospace;
    font-size: 1.8rem;
    text-shadow: 1px 0 10px white;
}

.pComponentes__home span, .pc__home span{
    border: 2px solid white;
    padding: 1rem 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.pComponentes__home span:hover, .pc__home span:hover{
    box-shadow: 1px 0 10px white;
}


.question{
    color: white;
    font-family:  sans-serif; 
    font-size: 6rem;
    text-shadow: 1px 0 10px white;
    display: flex;
    padding-top: 5rem;
}

@media (max-width: 550px){

}


