
*{
  margin:0;
}

body {
 
  background: linear-gradient(to right, #061161dc, #780206da), url("./assets/best-gaming-laptop-brands.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-position:center;
  background-attachment: fixed;
 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
